@import '../../../typography';
@import '../../../theme';
@import '../../../mixins';

.Backdrop {
  @include backdrop;
  @include d-flex-a-center-j-center;
  z-index: 11;
}

.BackdropAnimateIn {
  visibility: visible;
  opacity: 1;
}
