.Container {
  display: block;

  .Icon {
    font-size: 60px;
    color: var(--text-primary);
    margin: 0 10px 0 10px;
    transition: 0.5s;
  }

  .Twitter {
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: #1da1f2;
    }
  }

  .Facebook {
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: #4267b2;
    }
  }

  .Instagram {
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: #fd1d1d;
    }
  }
}
