@import '../../../mixins.scss';

.Container {
  background-color: var(--background);
  color: var(--text-primary);
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  & > .Form {
    grid-row-start: 1;
    grid-column-start: 1;
    padding: 3%;
    margin: 2%;
    z-index: 5;
    .Icon {
      margin-right: 5px;
    }
  }
  & > .Letter {
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: -1;
    width: 200px;
    height: 200px;
    & > img {
      width: 200px;
      height: 200px;
    }

    @include mq('tablet-wide', max) {
      transform: scale(0.7);
    }
    @include mq('phablet', max) {
      transform: scale(0.6);
    }
  }
}

.Input {
  margin: 15px 0;
  width: 100%;
  font-size: 20px;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  border-radius: 4px;
  background-color: var(--background);
}

.Button {
  background-color: #3576de;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.Error {
  border: 2px solid red;
}

.AnimationFly {
  animation-name: fly;
  animation-duration: 2s;
  animation-delay: 0.4s;
  animation-timing-function: ease-out;
}
@keyframes fly {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}

.AnimationFly2 {
  animation-name: fly2;
  animation-duration: 2s;
  animation-delay: 0.4s;
  animation-timing-function: ease-in;
}
@keyframes fly2 {
  from {
    top: 0px;
  }
  to {
    top: 200%;
  }
}
