@import '../../../typography';
@import '../../../theme';
@import '../../../mixins';

.Backdrop {
  @include backdrop;
  @include d-flex-a-center-j-center;
  z-index: 50;
}

.BackdropAnimateIn {
  visibility: visible;
  opacity: 1;
}

.ModalContent {
  margin: 1.5rem;
  display: block;
  max-height: 80%;
  max-width: 80%;
  object-fit: contain;
}
