@import '../../../mixins';

.Container {
  background-color: transparent;
  color: var(--text-primary);
  z-index: 5;
  .ContainerDesktop {
    background-color: var(--background);
    color: inherit;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .RightSide {
      margin: auto 0 auto auto;
      height: 100%;
      display: flex;
      .Toggle {
        margin: auto 10px auto auto;
        .Icon {
          font-size: 20px;
        }
      }
      .Logout {
        margin: auto 10px auto auto;
        font-size: 20px;
      }
    }
  }

  .ContainerMobile {
    display: none;
    background-color: transparent;

    .Icon {
      color: var(--text-primary);
      font-size: 40px;
    }

    .Link {
      padding: 20px;
      background-color: transparent;
      & > span {
        font-weight: bold;
        text-decoration: none;
        margin: 0 auto 0 auto;
        color: var(--text-primary);
        font-size: 25px;
      }
    }

    .Divider {
      color: var(--text-primary);
    }

    .DropdownMenu {
      background-color: var(--background);
      z-index: 99;
      & > a:hover {
        background-color: inherit;
      }
    }
  }

  .MenuButton {
    background-color: var(--background);
    border: 1px solid black;
    width: 60px;
    height: 60px;
    padding: 0;
  }

  @include mq('phablet', max) {
    .ContainerDesktop {
      display: none;
    }
    .ContainerMobile {
      display: block;
    }
  }
}
